{{ partial "header.html" . }}


<h1>Listado de canales de televisión</h1>

<ul>
    {{ range .Site.Data.tv }}
        <h1><li>{{ .name }}</li></h1>
        {{range .channels}}
        <a href="{{ .web}}">
            <img src = "{{ .logp}}" alt ="{{ .name}}">

        </a>
        {{ end }}

        {{ end }}
</ul>

<footer class="footline">
	{{with .Params.LastModifierDisplayName}}
	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}}
</footer>

{{ partial "footer.html" . }}